*.o
*.elf
*.img
*.iso
*.a
*.exe
screenshot-old.png
image
cadexkernel.code-workspace
.git
kernel/kernel
kernel/bootblock
kernel/*.elf
.vs
test.txt
settings.json
installed.txt
serial.log
scripts/c2b86.cc
scripts/c2b86
