*.o
*.elf
*.img
*.iso
*.a
*.exe
*~
screenshot-old.png
image
cadexkernel.code-workspace
.git
cross
kernel/kernel
kernel/bootblock
kernel/*.elf
.vs
test.txt
.vscode
settings.json
installed.txt
llvm-project/*
*.log
